#stuff on dev

#dev ignore
old/
*-old.*
_*
*template*
*test*

#stuff
AltV.Net.Host.*
altv-server*
cache/
crashdumps/
/data/
libnode.dll
*.log
modules/
node_modules/
server.toml
.vscode/

#config
config.json
