#AltV Resources

#stuff on dev
AimInfo/
altv-animator-master/
freeroam/
freeroam-extended/
gangwar/
main-lite/
ParkedVehicleSpawner/
PlayerBlips/
PlayerBlipsGlobal/
rml-nametags/
voice/
weapon-addon/


#models
*.yft
*.ytd
*.ydd
*.ymt
*.ydr
pm_others/
pm_new/


#imgs
*.png
*.jpg
*.jpeg


#???
*.db


#stuff
/cache/
/crashdumps/
/data/
/modules/
/UniServerZ/
*.log
*test*


#node_modules
node_modules
