body {
    overflow-y: hidden;
}

strong {
    cursor: default;
}

[notInSelection="true"] {
    display: none !important;
}

::selection {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
}

#pannel {
    position: relative;
    background-color: var(--bg-color);
    width: auto;
    height: 90vh;
    margin: 2vw;
    border-radius: 5px;
    overflow-y: scroll;
}

#classList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2vh;
}

#searchList {
    margin-left: 1.5vw;
    /* margin-right: 1.5vw; */
    margin-top: 8vh;
    margin-bottom: 1.5vh;
}

.modelClass {
    margin: 1.5vw;
    justify-content: space-between;
}

.modelClass#freemod {
    justify-content: space-around;
}

.modelClass,
#searchList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vh;
}

.modelClass > strong {
    flex-basis: 100%;
    font-size: 1.5vw;
    user-select: none;
}

.model {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.model > strong {
    font-size: 1.2vw;
}

.model > img {
    aspect-ratio: initial;
    width: 7.5vw;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

div.search {
    position: absolute;
    right: 1.5vw;
    top: 0;
}

.form__group {
    display: block;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 200px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    user-select: none;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #ffffff;
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
