:root {
    --bg-color: rgba(0, 0, 0, 0.75);
    --color1: #008cba;
    --color1-hover: #006a8d;
    --color1-active: #005a79;
    --color2: #dfc800;
    --color2-hover: #af9e00;
    --color2-active: #968700;
}

body {
    user-select: none;
}

[disabled] {
    display: none !important;
    /* pointer-events: none;
    opacity: 0.4;
    background-color: #888; */
}

#menu {
    margin: 2vh 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.resource,
div#nametag {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: auto;
    align-content: center;
    justify-content: flex-start;
}

.resource button {
    background-color: var(--color2);
    padding: 0.8vh 0.4vw;
    border-radius: 15px;
    border: none;
    font-size: 0.75vw;
    color: white;
    cursor: pointer;
    user-select: none;
}

.resource button:hover {
    background-color: var(--color2-hover);
}

.resource button:active {
    background-color: var(--color2-active);
}
